apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-orchestrator
  namespace: aumovio-platform-deploy
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend-orchestrator
  template:
    metadata:
      labels:
        app: backend-orchestrator
    spec:
      serviceAccountName: backend-orchestrator-sa
      containers:
        - name: backend
          image: gcr.io/gcp1042-bv42/backend-orchestrator:latest
          ports:
            - containerPort: 8080
          env:
            - name: PROJECT_ID
              value: "gcp1042-bv42"
            - name: TRIGGER_ID
              value: "0424a0ee-490a-4522-8d4f-c88fb9951eaf"
            - name: REGION
              value: "global"
            - name: ASPNETCORE_ENVIRONMENT
              value: "Production"
          resources:
            requests:
              memory: "256Mi"
              cpu: "250m"
            limits:
              memory: "512Mi"
              cpu: "500m"
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8080
            initialDelaySeconds: 30
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /healthz
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 5
---
apiVersion: v1
kind: Service
metadata:
  name: backend-orchestrator
  namespace: aumovio-platform-deploy
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 8080
  selector:
    app: backend-orchestrator